

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.wrapper h1{
    font-size: 30px;
    text-align: center;
    color: black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/c.jpg);
    background-size: cover;
    background-position: center;
    margin: 40px 0 0 0;
}
.wrapper .input-box{
    position: relative;
    width: 1005;
    height: 50px;
    margin: 30px 0;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    column-rule: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
color: black;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: black;
}
.wrapper .remember-forget{
    color: blue;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forget label input{
    accent-color: black;
    margin-right: 3px;
}
.remember-forget a{
    text-decoration: none;
    color: black;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: none;
}
.wrapper .btn{
    width: 100%;
    height: 40px;
    background: aqua;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.wrapper .btn:hover{
    background: rgba(255,255,255,0.2);
    color: blue;
    border-color: black;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    text-decoration: none;
    color: black;
}
