body{
    margin: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family:"Roboto" sans-serif;
}
img{
    max-width: 100%;
}

header{
    background-image: url(../images/dawn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 0 5% 0 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.863);
    background-blend-mode: multiply;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 5%;
    right: 5%;
}
.logo{}
.logo a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}
.logo a h5{
    font-weight: 600;
}
.logo a h5 span{
    font-weight: 100;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 0 15px;
}


/*.... banner section.... */


.banner{
    text-align: center;
    padding: 50px 0 100px 0;
}
.banner h4{
    font-size: 25px;
    font-style: italic;
    margin: 250px 0 10px 0;
}
.banner span{}
.banner h1{
    font-size: 70px;
}
.banner button{
    background: red;
    border: 1px solid red;
    padding: 15px 30px;
    border-radius: 35px;  
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}

.banner button:hover{
    background: rgba(255, 0, 0, 0);
    letter-spacing: 3px;
    
    
}




.coffee-line{
    height: 5px;
    width: 172px;
    display: inline-block;
    background: red;
    border-radius: 5px;
}
.coffees{
    margin: 50px 0 10px 0;

}



/*.... UPCOMING EVENTS.... */



.event-main{
    padding: 50PX 14%;
    text-align: center;
}
.event-main h3{
    font-size: 40px;
    
}
.event-main span{}



.event{
    display: flex;
    margin: 20px 0 0 0;
    
}


.event-item{
    width: 50%;
    margin: 20PX;
  
}
.event-item img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.event-item h5{
    font-size: 20PX;
    margin: 10PX 0 0 0;
}
.event-item p{}
.event-item a{
    color: red;
    letter-spacing: 3PX;
    text-decoration: none;
}






/*....EXPLORE THE WORLD.... */






.explor{
    background-image: url(../images/father.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    background-color:rgba(0, 0, 255, 0.416);
    background-blend-mode: multiply;
    padding: 60px;
    color: white;
    display: flex;
    justify-content: space-between;

}
.explor_item{
    width: 50%;
}
.explor_item h1{
    font-size: 70px;
    margin: 40px 0 0 0;
}
.explor_item p{
    margin: 30px 0 30px 0;

}
.explor_item a{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}






/*....Tour section.... */


.tour-main{
    padding: 5%;
}
.tour{
    display: flex;
    justify-content: space-between;
}
.tour-item{
    width: 31%;
    padding: 15px;
}
.tour-item h3{
    font-size: 30px;
    margin: 0 0 0 0;
}
.tour-item p{
    margin:30px 0 30px 0;

}
.tour-item a{
    text-decoration: none;
    color: red;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: capitalize;
}
.tour-item img{}



.image-one{
 height: 280px;
 object-fit: cover;
 margin: 0 0 25px 0;
}

.image-two{
    height: 370px;
    object-fit: cover;
    margin: 0 0 25px 0;
}










/*....footer SECTION.... */












footer {
    text-align: center;
    padding: 100px;
    background-color: #000;
    color: #fff;
  }
  
  .social-icons {
    
    margin-bottom: 5px;
    margin: 0 10px 0 0;
  }
  
  .social-icons i {
    color: #fff;
    margin: 0 10px;
    font-size: 34px;
  }
  
  p {
    font-size: 24px;
  }
  
 









/*.... media query breakpoints.... */

/*Mobile device Extra small devices (phones, 668px and down) .......1 */








@media only screen and (max-width: 355px){
    .banner h1{
        font-size: 35px;
}
.coffee-line{
    height: 3px;
    width: 140px;
    
}
   

    .navbar{
        display: block;
        text-align: center;
    }
  
    .logo a{
      
        font-size: 18px;
        display: block;
        text-align: center;
        margin: 20px 1px 0 100px;
    }
    .logo a h5{
        margin: 20px 140px 0 0px;
    }
   
    nav ul{
       text-align: center;
       padding: 30px 8px 0 8px;
       
    }
    nav ul li a{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding: 30px 8px 0 8px;
    }


    /*.... banner section.... */


    .banner{
        
        padding: 1px 0 30px 0;
    }
    .banner h4{
        font-size: 17px;
       
        margin: 170px 0 10px 0;
    }
    
    .banner h1{
        font-size: 30px;
    }
    .banner button{
       
        padding: 8px 24px;
       
        font-size: 18px;
        letter-spacing: 1px;
        transition: all 0.3s linear;
    }

        /*.... UPCOMING EVENTS.... */



    .event-main{
        padding: 20PX 2%;
        
    }
    .event-main h3{
        font-size: 20px;
        
    }
    .event-main span{}



    .event{
        display: block;
        margin: 20px 0 0 0;
        
    }


    .event-item{
        width: 95%;
        margin: 20PX auto;
    
    }
    .event-item img{
        height: 250px;
       
    }
    .event-item h5{
        font-size: 18PX;
        
    }
        







        /*....EXPLORE THE WORLD.... */






    .explor{
       
        padding: 10px;
        
        display: block;
       

    }
    .explor_item{
        width: 100%;
    }
    .explor_item h1{
        font-size: 40px;
        margin: 20px 0 0 0;
    }
    
    .explor_item p{
        margin: 20px 0 20px 0;

    }
    .explor_item a{
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }









                    /*....Tour section.... */


                    .tour-main{
                        padding: 2%;
                    }
                    .tour{
                        display: block;
                       
                    }
                    .tour-item{
                        width: 90%;
                        padding: 15px;
                    }
                    .tour-item h3{
                        font-size: 20px;
                        margin: 0 0 0 0;
                    }
                    .tour-item p{
                        margin:30px 0 30px 0;

                    }
                    .tour-item a{
                        text-decoration: none;
                        color: red;
                        letter-spacing: 1px;
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                    .tour-item img{}



                    .image-one{
                    height: 280px;
                    object-fit: cover;
                    margin: 0 0 25px 0;
                    }

                    .image-two{
                        height: 370px;
                        object-fit: cover;
                        margin: 0 0 25px 0;
                    }










            

        /*....footer SECTION.... */












        footer {
            text-align: center;
            padding: 100px;
            background-color: #000;
            color: #fff;
        }
        
        .social-icons {
            margin-bottom: 5px;
        }
        
        .social-icons i {
            color: #fff;
            margin: 0 10px;
            font-size: 13px;
        }
        
        p {
            font-size: 18px;
            margin: 40px 0px 0 0;
            display: block;
        }
        .statement{
            display: flex;
            
        
          }
          .pro{
            display: block;

          }



}

 /* ,,,,,,,,,,,,,,,,,,,,1.2,,,,,,,,,,,,,,,,,,, */ 


 @media only screen and (min-width: 356px) and (max-width: 668px){
    .banner h1{
        font-size: 35px;
}
.coffee-line{
    height: 3px;
    width: 140px;
    
}
   

    .navbar{
        display: block;
        text-align: center;
        
    }
  
    .logo a{
      
        font-size: 18px;
        display: block;
        text-align: center;
        margin: 20px 1px 0 100px;
    }
    .logo a h5{
        margin: 20px 140px 0 0px;
    }
   
    nav ul{
       text-align: center;
       padding: 30px 8px 0 8px;
       
       
       
    }
    nav ul li a{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding: 30px 6px 0 17px;
        margin: auto;
    }


    /*.... banner section.... */


    .banner{
        
        padding: 1px 0 30px 0;
    }
    .banner h4{
        font-size: 17px;
       
        margin: 170px 0 10px 0;
    }
    
    .banner h1{
        font-size: 30px;
    }
    .banner button{
       
        padding: 8px 24px;
       
        font-size: 18px;
        letter-spacing: 1px;
        transition: all 0.3s linear;
    }
            /*.... UPCOMING EVENTS.... */



            .event-main{
                padding: 20PX 2%;
                
            }
            .event-main h3{
                font-size: 20px;
                
            }
            .event-main span{}
        
        
        
            .event{
                display: block;
                margin: 20px 0 0 0;
                
            }
        
        
            .event-item{
                width: 95%;
                margin: 20PX auto;
            
            }
            .event-item img{
                height: 250px;
               
            }
            .event-item h5{
                font-size: 18PX;
                
            }


            
        /*....EXPLORE THE WORLD.... */






    .explor{
       
        padding: 10px;
        
        display: block;
       

    }
    .explor_item{
        width: 100%;
    }
    .explor_item h1{
        font-size: 40px;
        margin: 20px 0 0 0;
    }
    
    .explor_item p{
        margin: 20px 0 20px 0;

    }
    .explor_item a{
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 600;
        color: white;
        text-decoration: none;
    }
    
                    /*....Tour section.... */


                    .tour-main{
                        padding: 2%;
                    }
                    .tour{
                        display: block;
                       
                    }
                    .tour-item{
                        width: 90%;
                        padding: 15px;
                    }
                    .tour-item h3{
                        font-size: 20px;
                        margin: 0 0 0 0;
                    }
                    .tour-item p{
                        margin:30px 0 30px 0;

                    }
                    .tour-item a{
                        text-decoration: none;
                        color: red;
                        letter-spacing: 1px;
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                    .tour-item img{}



                    .image-one{
                    height: 280px;
                    object-fit: cover;
                    margin: 0 0 25px 0;
                    }

                    .image-two{
                        height: 370px;
                        object-fit: cover;
                        margin: 0 0 25px 0;
                    }








                    .statement{
                        display: flex;
                        
                    
                      }
                      .pro{
                        display: block;
            
                      }






}










/*...............Landscape mobile tab device..............2 */




@media only screen and (min-width: 669px) and (max-width: 768px){
    .banner h1{
        font-size: 40px;
    }
            /*.... UPCOMING EVENTS.... */



            .event-main{
                padding: 40PX 5%;
                
            }
            .event-main h3{
                font-size: 25px;
                
            }
            .event-main span{}
        
        
        
            .event{
                display: block;
                margin: 20px 0 0 0;
                
            }
        
        
            .event-item{
                width: 95%;
                margin: 25PX auto;
            
            }
            .event-item img{
                height: 350px;
               
            }
            .event-item h5{
                font-size: 20PX;
                
            }
            
}







/*..............tab Landscape device....................3*/





@media only screen and (min-width: 769px) and (max-width:992px){
    .banner h1{
        font-size: 50px;
    }
            /*.... UPCOMING EVENTS.... */



            .event-main{
                padding: 40PX 5%;
                
            }
            .event-main h3{
                font-size: 25px;
                
            }
            .event-main span{}
        
        
        
            .event{
                display: block;
                margin: 20px 0 0 0;
                
            }
        
        
            .event-item{
                width: 95%;
                margin: 25PX auto;
            
            }
            .event-item img{
                height: 450px;
               
            }
            .event-item h5{
                font-size: 20PX;
                
            }
}







/*..............small monitor device....................4*/





@media only screen and (min-width: 993px) and (max-width:1024px){
    .event-main h3{
        font-size: 45px;
        
}

.banner h1{
    font-size: 50px;
}
.event-item{
    width: 49%;
    margin: 25PX auto;

}
.event-main{
    padding: 30PX 5%;
    
}



}





/*..............large laptop device....................5*/





@media only screen and (min-width: 1025px) and (max-width:1440px){
    .event-main h3{
        font-size: 45px;
        
}

.banner h1{
    font-size: 50px;
}
.event-item{
    width: 49%;
    margin: 25PX auto;

}
.event-main{
    padding: 30PX 5%;
    
}
}




